@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300&display=swap');

:root {
    --bck-color :#242526;
    --me-color: #0084ff;
    --them-color: #3e4042;
    --input-color: #3a3b3c;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.container {
    width: 92%;
    margin: 0 auto;
}

body {
    background-color: var(--bck-color);
}

.login-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: fit-content;
    text-align: center;
}

.login-area h2 {
    opacity: 0;
    color: crimson;
}

.name {
    background: var(--input-color);
    border: none;
    outline: none;
    overflow-x: hidden;
    flex: 1;
    height: 6vh;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    margin: 1.5rem 0;
}

.name[type="text"] {
    padding: 0 1rem;
}

.join {
    background-color: seagreen;
    color: #fff;
    height: 6vh;
    width: 100%;
    border: none;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.join:hover {
    cursor: pointer;
    background-color: rgb(49, 194, 112);
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top: 2vh;
    height: 86vh;
    display: none;
}

.input-area {
    margin-top: 2vh;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.input {
    background: var(--input-color);
    border: none;
    outline: none;
    overflow-x: hidden;
    flex: 1;
    height: 100%;
    font-size: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input[type="text"] {
    padding: 0 1rem;
}

.input:focus, .send-btn:focus, .name:focus {
    outline: none;
}

.send-btn {
    border: none;
    height: 100%;
    color: #fff;
    background: var(--me-color);
    width: 20%;
    height: 100%;
    translate: transform 0.1s;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.send-btn:hover {
    cursor: pointer;
    background: #309bff
}

.message {
    max-width: 45%;
    padding: 1rem;
    overflow-wrap: break-word;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.message strong {
    font-weight: 900;
}

.message.left {
    background-color: var(--them-color);
    align-self: flex-start;
}

.message.right {
    background-color: var(--me-color);
    align-self: flex-end;
}

.message.center {
    background-color: var(--input-color);
    align-self: center;
    max-width: 90%;
    text-align: center;
}

.message.center>strong {
    color: greenyellow;
}













@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    .message strong {
        font-size: 16px;
    }
}

@media (max-height: 480px) {
    .join, .name {
        height: 12vh;
    }
    .text-area {
        height: 82vh;
    }
    .input-area {
        height: 12vh;
    }
}